body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-weight: normal;
    font-size: 14pt;
}

p,
pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.header {
    padding: 20px;
    background-color: rgba(0, 250, 150, 0.200);
}

.header-text {
    color: teal;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.card {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px lightgrey;
}