* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
nav,
ul,
li,
div,
p {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 14pt;
}

p,
pre {
    font-size: 12pt;
}

a {
    text-decoration: none;
}

.nav-menu {
    margin-right: 40px;
    display: inline-flex;
}

.nav-link {
    color: white;
    font-size: 14pt;
    margin-left: 20px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 70, 50);
}

.header-text {
    color: white;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px lightgrey;
}

.form-addPost {
    display: block;
    margin-top: 40px;
    max-width: 400px;
}

.form-addPost select,
textarea,
button {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    outline: none;
}

button {
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 70, 70);
    border: 2px solid teal;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color .2s ease-out;
}

button:hover {
    background-color: rgb(0, 120, 120);
}


/* select */

.select {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #7E9BBD;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 35px 10px 15px;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: #7e9bbd transparent transparent transparent;
    pointer-events: none;
}

.interaction {
    display: inline-flex;
    justify-content: flex-end;
}

.interaction a {
    color: white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    margin-left: 5px;
    background-color: rgb(0, 70, 70);
    border: 2px solid teal;
    border-radius: 10px;
    transition: background-color .2s ease-out;
}

.interaction a:hover {
    background-color: rgb(0, 120, 120);
}

.result-query {
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0px 0px 30px lightgrey;
    padding: 20px;
    margin-top: 20px;
}

.result-query p {
    font-size: 16pt;
    font-weight: bold;
    color: beige;
    margin-top: 10px;
}