body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.card {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 30px lightgrey;
}